<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
    <!-- link a js file to the html -->
    <script src="static/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

    <!-- Request a username -->

    <div id="username-container">
        <h1>Input Your Username To Continue</h1>
        <div id="username-form">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username-form-input">
        </div>
    </div>

    <div id="container">
        <div id="channel">
            <!-- Spacing  -->
            <div style="height: 10px"></div> 
            <!-- Channels -->
            <a class="user" href="#">
                <div class="user-icon">
                    <img src="static/assets/user.png">
                </div>
                <div class="user-name">
                    User#1
                </div>
            </a>
            <a class="user" href="#">
                <div class="user-icon">
                    <img src="static/assets/user.png">
                </div>
                <div class="user-name">
                    User#2
                </div>
            </a>

        </div>

        <div id="view">
            <div id="chat">
                <div id="chat-container">
                    <html>
                        <div id="chat-html-container">
                            <!-- messages -->
                            <div class="chat-message">
                                <div class="user-icon"><img src="static/assets/user.png"></div>
                                <div class="chat-content">
                                    text
                                </div>
                            </div>
                            <div class="chat-message">
                                <div class="user-icon"><img src="static/assets/user.png"></div>
                                <div class="chat-content">
                                    Hello
                                </div>
                            </div>
                        </div>
                    </html>
                </div>
            </div>

            <!-- type -->
            <div id="chat-input">
                <div id="chat-form">
                    <input type="text" name="message" id="chat-form-input">
                </div>
            </div>
        </div>
    </div>
</body>
</html>